.w-max-content{
    width: max-content;
}
.w-fit-content{
    width: fit-content;
}
.border-radius-lg{
    border-radius: 1rem !important;
}
.gradient-btn{
    background-image: linear-gradient(to top, #FF136F, #ff79ad);
}
.bg-gradient-orange{
    background-image: linear-gradient(0.40turn, #FF9C35, #FFD019);
}
.bg-gradient-pink{
    background-image: linear-gradient(to bottom, #FF589B, #FF136F);
}
.bg-gradient-blue{
    background-image: linear-gradient(0.45turn, #4289FF, #3F07F8);
}
.text-justify{
    text-align: justify;
}
.email-input-field{
    border: none;
    border-radius: 10px 0 0 10px;
    margin-right: 0 !important;
    outline-color: rgb(218, 218, 218);
}
.email-input-field::placeholder{
    color: #CCCCCC;
}
.submit-button{
    margin-left: 0 !important;
    border-radius: 0 10px 10px 0;
    padding: 15px 25px;
}